<h1> Angular Works !</h1>
<input type="text" [(ngModel)]="title">
<p><strong>{{title}}</strong></p>
<input type="text" (keyup.enter)="inputHandler($event)" (blur)="onBlur(myInput.value)" #myInput>
<p><strong>{{inputValue}}</strong></p>
<app-post></app-post>
<app-post></app-post>
{{title}} - {{number}} - {{arr}} - {{obj}}
<!--<img src="{{img}}" alt="">-->
<img [src]="img" alt="">
<hr>
<app-post-template></app-post-template>
<button (click)="toggleBG = !toggleBG"> toggle </button>
<div [ngClass]="{red: toggleBG, cyan: !toggleBG}">change1</div>
<div [class.cyan]="toggleBG" [class.red]="!toggleBG">change2</div>

<div [ngStyle]="{width: '222px', height: '222px', border: '2px solid green', borderRadius: '11px',
background: toggleBG ? 'red' : 'green'}"> </div>

