<div class="container">

  <p>Waiting for ... {{promise | async}}</p>
  <p>Waiting new Date... {{myDate | async | date: 'MM-dd-YYYY HH:mm:ss'}}</p>

  <input type="text" [(ngModel)]="search">
  <button class="btn" (click)="searchField = 'title'">title</button>
  <button class="btn" (click)="searchField = 'text'">text</button>
  <hr>
  <button class="btn" (click)="addPost()">add Post</button>

  <div class="card" *ngFor="let post of posts | filter:search:searchField">
  <h2>{{post.title}}</h2>
  <p>{{post.text}}</p>
  </div>
</div>


