<div class="container">
  <h1>Angular Pipes</h1>
 <p> {{ e | number: '1.1-5'}}</p>
 <p> {{ e | number: '3.1-3'}}</p>
 <p> {{ e | number: '1.0-0'}}</p>
 <p> {{ str | uppercase}}</p><p> {{ str | lowercase}}</p><p> {{ str | titlecase}}</p>
  <p> {{ str | slice: 1:10}}</p>  <p> {{ str | slice: 1:-1}}</p>

  <p>{{date | date: 'MM-dd-yyyy HH:mm:ss'}}</p>
<p>{{float | currency}}</p> <p>{{float | percent}}</p> <p>{{float | percent: '2.2-2'}}</p>
  <pre>{{obj | json}}</pre>

  <p>{{10 | multi: 2}}</p>
  <p>{{10 | multi: 10}}</p>
  <p>{{'Hello World     ' | exMarks}}</p>

  <input type="text" [(ngModel)]="search">
  <button class="btn" (click)="searchField = 'title'">title</button>
  <button class="btn" (click)="searchField = 'text'">text</button>
  <hr>
  <button class="btn" (click)="addPost()">add Post</button>

  <div class="card" *ngFor="let post of posts | filter:search:searchField">
  <h2>{{post.title}}</h2>
  <p>{{post.text}}</p>
  </div>
</div>


